
<header>
  <nav>
    <div class="logo">
      <h1>E-Kart</h1>
    </div>
    <div class="search__bar__header">
      <input type="text" />
      <input type="button" value="search" />
    </div>
    <div class="cart__header__desktop">
      <i class="fa fa-shopping-cart"></i>
      <span>50</span>
    </div>
  </nav>

<div class="main__navigations">
  <div class="main__navigations__div">
    <ul class="main__navigations__div__ul">
      <li
        class="main__navigations__div__li on__mobile_d_none"
        style="font-weight: bold"
      >
        <a href="">Home</a>
      </li>
      <li class="main__navigations__div__li on__mobile_d_none">
        <a class="categ" style="font-weight: bold"
          >Categories <i class="fa fa-caret-down"></i
        ></a>
        <div class="div__categories__items">
          <p><a href="">Category 1</a></p>
          <p><a href="">Category 2</a></p>
          <p><a href="">Category 3</a></p>
          <p><a href="">Category 4</a></p>
          <p><a href="">Category 5</a></p>
        </div>
      </li>
      <li class="main__navigations__div__li save__from__left">
        <a href="" class="anchor__remains__same" style="font-weight: bold"
          ><i class="fa fa-user"></i> Hello, parimal mahindrakar.</a
        >
      </li>
      <li class="main__navigations__div__li">
        <a
          href=""
          class="anchor__remains__same"
          style="padding-bottom: 0; font-weight: bold"
          >Logout <i class="fa fa-sign-out"></i>
        </a>
      </li>
      <div class="bars save__from__right">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </ul>
  </div>
</div>

<div class="mobile__nav__fade__and__show">
  <div class="mobile__nav__fade__and__show__text">
    <li><a href="">Home</a></li>
    <li>
      <a href="">Categories</a>
      <div>
        <p><a href="">Category 1</a></p>
        <p><a href="">Category 2</a></p>
        <p><a href="">Category 3</a></p>
        <p><a href="">Category 4</a></p>
        <p><a href="">Category 5</a></p>
      </div>
    </li>
  </div>
</div>
</header>

<footer>
  <router-outlet></router-outlet>
</footer>
